.left {

	/*background-color: #efac78;*/
	font-family: "微软雅黑";
	background-color: rgba(240,178,129,0.8);
	/*position: fixed;*/
	/*width: 20.4em;
	margin-left: -0.3em;*/
}
.left div {	
	color:#fa4704;

}

div.logo{
		text-align: center;
	margin-top: 0.4em;
	font-size: 6em;
	height: 2.2em;
}
.nav {
	margin-left:1em; 
	font-family: "微软雅黑";
	font-size: 1.12em;
}
.nav a ,.content a {
	color: rgb(255,120,20);
	text-decoration: none;
}

.column hr {
	width: 16em;
	color: #fa4704;
	size:2px;
	border:solid 1px #fff;
}

.columnbox {
	height: 50em;
	margin-top: 0.2em;
}

.column 
{
	height: 9.2em;
}

div.column .title {
	font-weight: bold;
	font-family: "微软雅黑";
	font-size: 1.12em;
	margin-left: 2em;
	margin-top:2.7em; 
}

div.column .content  {
	margin-top: 0.5em;
	margin-left: 4.3em;
}
div.column .content div {
	margin-top: 0.7em;
}
