.left {
	font-family: "微软雅黑";
	/*总体字体设置		*/
}
.affix {
	padding: 0 0em  0 1em ;
	/*由于浮动引起的重调整*/
}
.right {
	height: 129em;	
}
.left div {	
	color:#fa4704;
}
div.logo{
	text-align: center;
	margin-top: 0.4em;
	font-size: 6em;
	height: 2.2em;
}
.nav {	
	font-size: 1.12em;
}
.content a {
	color: rgb(255,120,20);
	text-decoration: none;
}
.nav a {
	text-decoration: none;
	color:#fa4704;	
	font-size: 1.12em;
}
.column hr {
	width: 16em;
	color: #fa4704;
	size:2px;
	border:solid 1px #fff;
}

.columnbox {
	height: 50em;
	margin-top: 0.2em;
}

div.column {
	height: 9.2em;
}

div.column .title {	
	font-size: 1.12em;	
	margin-top:2.7em; 
}

div.column .content  {
	margin-top: 0.5em;	
	font-size: 1.05em;
	margin-left: 2em;
	font-weight: bold;
}
div.column .content div {
	margin-top: 0.7em;
}
.container
{
	background-image: url(images/background.jpg);
}

