/*以下为侧边栏部分*/
.left {
	font-family: "微软雅黑";

	/*总体字体设置		*/
	/*background-color: rgba(241,149,86,0.5);*/
	height: 114.1em;
	background-image: url(images/BackgroundSiderbar.jpg)  ;
	background-size:cover;  
}
.affix {
	padding: 0 0em  0 2em ;
	/*由于浮动引起的重调整*/
	/*padding: 0 3% ;*/
	margin: auto;
	


}
.right {
	height: 114.1em;
	/*background-color: #000;	*/
}
.left div {	
	color:#fa4704;
}
/*div.logo{
	text-align: center;
	margin-top: 0.4em;
	font-size: 6em;
	height: 2.2em;
}*/
.nav {	
	font-size: 1.12em;
	/*font-size: 16px;*/
	margin-top: 2.2em;
}
.content a {
	color: rgb(255,120,20);
	text-decoration: none;
}
.nav a {
	text-decoration: none;
	color:#fa4704;	
	font-size: 1.08em;
}
.column hr {
	/*margin: auto;*/
	width: 15em;
	color: #bbb;
	size:2px;
	border:solid 1.2px #ddd;
}

.columnbox {
	height: 30em;
	/*margin-top: 0.2em;*/
}

div.column {
	height: 6.7em;
}

div.column .title {	
	font-size: 1.12em;	
	/*margin-top:2.7em; */
}

div.column .content  {
	margin-top: 0.5em;	
	font-size: 1.05em;
	font-size: 14px;
	margin-left: 2em;
	font-weight: bold;
}
div.column .content div {
	margin-top: 0.7em;
}
.container
{
	background-image: url(images/BackgroundUndecorated.jpg)  ;
	background-size:cover;  
}

/*以下为页脚部分*/
.footer {
	/*height: 15em;*/
	color: #fff;
	color: rgb(128,125,125);
	background-image: url(images/BackgroundFooter.jpg)  ;
	background-size:cover;  


}

.col-md-4>.row.title
{
	font-size: 1.12em;
	margin-bottom: 1.4em;
	font-weight: bold;
}
.col-md-4.rightfoot>.row.contain
{
	font-size: 1em;
	line-height: 1.8em;
	/*width: 25em;	*/
}
.col-md-4.leftfoot>.row.contain
{
	font-size: 1em;
	/*width: 24em;*/

	
}
.footer>.row>.col-md-4 {
	padding: 1.8em 3.5em 0 3.5em;

}
.rightfoot span {
	margin-right: 1em;
}
.logo {
	font-size: 3em;
	text-align: center;
	color:#fa4704;
	height: 1.7em;	
	/*width: 8.3em;*/
	margin-top:1em;
	margin-left: -0.5em;
	background-color: rgba(0,0,0,0.5);

}
.up-right {
	margin: 30px;
	background-color: #FFFFFF;
	/*width: 41%;*/
	height: 338px;
	position: absolute;
	top: 829px;
	left: 87%;
	/*padding: 0px;*/
}
.up-center {
	margin: 30px;
	background-color: #FFFFFF;
	/*width: 41%;*/
	height: 338px;
	position: absolute;
	top: 829px;
	left: 41%;
	/*padding: 0px;*/
}
.up-left {
	margin: 30px;
	background-color: #FFFFFF;
	/*width: 41%;*/
	height: 338px;
	position: absolute;
	top: 829px;
	left: -5%;
	/*padding: 0px;*/
}
.low-left {
	margin: 30px;
	background-color: #FFFFFF;
	/*width: 41%;*/
	height: 338px;
	position: absolute;
	top: 1210px;
	left: -5%;
	/*padding: 0px;*/
}
.low-right {
	margin: 30px;
	background-color: #FFFFFF;
	/*width: 87%;*/
	height: 338px;
	position: absolute;
	top: 1210px;
	left: 41%;
	/*padding: 0px;*/
}
.box-title {
	background-color: #AFAFAF;
	width: 120%;
	height: 33%;
    font-size: 18px;
    color: #ffffff;
}
.box-title a {
	text-decoration: none;
	color: #ffffff;
	overflow: hidden;
}
.box-title a:hover {
	text-decoration: underline;
}

.box-article {
	width: 100%;
    height: 67%;
	font-weight: bold;
	text-indent: 2em;
	font-family: "微软雅黑";
	font-size: 14px;
	margin: 0px 0px 0px 0px;
	overflow: hidden;
	padding-top: 19px;
	padding-right: 14px;
    padding-bottom: 0px;
    padding-left: 14px;
}
.box-img {
	float: left;
	border: 3px solid #FFFFFF;
	margin: 10%;
	top: 25%;
	left: 0.8%;
	width: 60px;
	height: 60px;
}
.box-img-low {
	float: left;
	border: 3px solid #FFFFFF;
	margin: 5%;
	top: 25%;
	left: 0.8%;
	width: 60px;
	height: 60px;
}
.box-label {
	text-decoration: none;
	top: 0px;
	left: 0px;
}

.first-left {
	/*background-color: #ccc;*/
	height: 30em;

}
.first-right {
	/*background-color: #bbb;*/
	height: 30em;
}
.first-left-box {
	background-color: #eee;
	height: 90%;
	width: 90%;
	margin: 2em auto ;
}
.first-right-box {
	background-color: #eee;
	height: 90%;
	width: 90%;
	margin: 2em auto ;
}
.second-middle {
	/*background-color: #ddd;*/
	height: 30em;
}
.second-middle-box {
	background-color: #eee;
	height: 90%;
	width: 95%;
	margin: 2em auto ;
	margin-left: 2.1em;
}