/*以下为侧边栏部分*/
.left {
	font-family: "微软雅黑";
	/*总体字体设置		*/
}
.affix {
	padding: 0 0em  0 1em ;
	/*由于浮动引起的重调整*/
}
.right {
	height: 114.1em;
	padding:0px;	
}
.left div {	
	color:#fa4704;
}
/*div.logo{
	text-align: center;
	margin-top: 0.4em;
	font-size: 6em;
	height: 2.2em;
}*/
.nav {	
	font-size: 1.12em;
	/*font-size: 16px;*/
	margin-top: 2.2em;
}
.content a {
	color: rgb(255,120,20);
	text-decoration: none;
}
.nav a {
	text-decoration: none;
	color:#fa4704;	
	font-size: 1.08em;
}
.column hr {
	margin-top: 0.7em;
	margin-bottom: 0.8em;
	width: 16.5em;
	color: #bbb;
	size:2px;
	border:solid 1.2px #ddd;
}

.columnbox {
	height: 30em;
	/*margin-top: 0.2em;*/
}

div.column {
	height: 6.7em;
}

div.column .title {	
	font-size: 1.12em;	
	/*margin-top:2.7em; */
}

div.column .content  {
	margin-top: 0.5em;	
	font-size: 1.05em;
	font-size: 14px;
	margin-left: 2em;
	font-weight: bold;
}
div.column .content div {
	margin-top: 0.7em;
}
.container
{
	background-image: url(images/background.jpg);
}

/*以下为页脚部分*/
.footer {
	height: 15em;
	color: #fff;
	color: rgb(128,125,125);
	

}
.col-md-4>.row.title
{
	font-size: 1.12em;
	margin-bottom: 1.4em;
	font-weight: bold;
}
.col-md-4.rightfoot>.row.contain
{
	font-size: 1em;
	line-height: 1.8em;
	/*width: 25em;	*/
}
.col-md-4.leftfoot>.row.contain
{
	font-size: 1em;
	/*width: 24em;*/

	
}
.footer>.row>.col-md-4 {
	padding: 1.8em 3.5em 0 3.5em;

}
.rightfoot span {
	margin-right: 1em;
}
.logo {
	font-size: 3em;
	text-align: center;
	color:#fa4704;
	height: 1.7em;	
	/*width: 8.3em;*/
	margin-top:1em;
	margin-left: -0.5em;
	background-color: rgba(0,0,0,0.5);

}
.up-right {
	margin: 20px;
	background-color: #FFFFFF;
	padding: 0px;
	height: 338px;
	width: 17em;
}
.up-center {
	margin: 20px;
	background-color: #FFFFFF;
	padding: 0px;
	height: 338px;
	width: 17em;
}
.up-left {
	margin: 20px;
	background-color: #FFFFFF;
	padding: 0px;
	height: 338px;
	width: 17em;
}
.low-left {
	margin: 20px;
	background-color: #FFFFFF;
	padding: 0px;
	height: 338px;
	width: 17em;
}
.low-right {
	margin: 20px;
	background-color: #FFFFFF;
	padding: 0px;
	height: 338px;
	width: 36.9em;
}
.box-title {
	background-color: #AFAFAF;
	width: 100%;
	height: 6em;
    font-size: 18px;
    color: #ffffff;
}
.box-title a {
	text-decoration: none;
	color: #ffffff;
	overflow: hidden;
}
.box-title a:hover {
	text-decoration: underline;
}

.box-article {
	font-weight: bold;
	text-indent: 2em;
	font-family: "微软雅黑";
	font-size: 14px;
	margin: 0px 0px 0px 0px;
	overflow: hidden;
	padding-top: 19px;
	padding-right: 14px;
    padding-bottom: 19px;
    padding-left: 14px;
    height: 100%;
    width: 100%;
}
.box-img {
	float: left;
	border: 3px solid #FFFFFF;
	margin: 10%;
	width: 60px;
	height: 60px;
	transition: 1s;
}
.box-img:hover{
	width: 80px;
	height: 80px;
}
.box-img-low {
	float: left;
	border: 3px solid #FFFFFF;
	margin: 5%;
	width: 60px;
	height: 60px;
	transition: 1s;
}
.box-img-low:hover{
	width: 80px;
	height: 80px;
}
.box-label {
	text-decoration: none;
	top: 0px;
	left: 0px;
}
